*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Open Sans", sans-serif;
    background-color: white;
}

/*header*/
.header{
    width:100%;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#logo{
    width:180px;
    height:24px;
    margin-left:100px;
    cursor:pointer;
}

#login{
    width:64px;
    height:20px;
    margin-right:100px;
    cursor:pointer;
}

/*main*/
main{
    width:100%;
    height:1000px;
    display:flex;
}
#registration-page-image{
    width:948px;
    height:1000px;
}

#registration-section{
    width:972px;
    height:1000px;
    display:flex;
    align-items:center;
    justify-content:center;
}

#registration-container{
    width:554px;
    height:351px;
    display:flex;
    
    flex-direction:column;
    justify-content:space-between;
}

#registration-text{
    width:100%px;
    height:63px;
    font-size:42px;
    font-family:"Poppins";
    font-weight:600;
    display:flex;
    justify-content:flex-start;
}

#registration-form{
    width:554px;
    height:240px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.email-password-container{
    width:554px;
    height:108px;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
}

.login-register-btns{
    width:554px;
    height:86px; 
}

.email-container{
    width:554px;
    height:42px;
    border:1px solid;
    border-radius:8px;
    display:flex;
    align-items:center;
}

.password-container{
    width:554px;
    height:42px;
    border:1px solid;
    border-radius:8px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

#emaildata{
    margin-left:12px;
    border:none;
    outline:none;
}

#passworddata{
    margin-left:12px;
    border:none;
    outline:none;
}

.eye{
    width:20px;
    height:20px;
    margin-right:12px;
    cursor:pointer;
}

.login-btn{
    width:554px;
    height:41px;
    background-color:red;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:8px;
    font-size:14px;
    font-family: "Poppins";
    border:none;
    cursor:pointer;
}

.check-login-container{
    width:554px;
    height:41px;
    display:flex;
    justify-content:center;
    align-items: end;
}

.check-login{
    width:176px;
    height:21px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.random-text{
    font-size:14px;
    color:#3E424A;
}

.login-button{
    border:none;
    color:red;
    font-weight:700;
    cursor:pointer;
}