*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Open Sans", sans-serif;
    background-color: white;
}

/*header*/
.header{
    width:100%;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#logo{
    width:180px;
    height:24px;
    margin-left:100px;
    cursor:pointer;
}

#login{
    width:64px;
    height:20px;
    margin-right:100px;
    cursor:pointer;
}

/*main*/
main{
    width:100%;
    height:1000px;
    display:flex;
}
#registration-page-image{
    width:948px;
    height:1000px;
}

#registration-section{
    width:972px;
    height:1000px;
    display:flex;
    align-items:center;
    justify-content:center;
}

#registration-container{
    width:554px;
    height:629px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

#registration-text{
    width:261px;
    height:63px;
    font-size:42px;
    font-family:"Poppins";
    font-weight:600;
    display:flex;
    justify-content:center;
}

#registration-form{
    width:554px;
    height:518px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.form-image-container{
    width:100%;
    height:100px;
    display:flex;
    justify-content:flex-start;
}

.registration-image-upload-container{
    width:272px;
    height:100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#customer-image-circle{
    width:100px;
    height:100px;
}

.input-forms-inside{
    width:157px;
    height:21px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.uppload{
    font-weight:400px;
    font-size:14px;
}

.remove{
    font-weight:400px;
    font-size:14px;
}

input[type="file"]{
    display:none;
}

/****/
.form-data-container{
    width:554px;
    height:240px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.data-container-cell{
    width:554px;
    height:42px;
    border:1px solid;
    border-radius:8px;
    border-color:grey;
    display:flex;
    align-items:center;
    justify-content:space-between;
    
}

.data-detail{
    border:none;
    font-size:14px;
    font-weight:400;
    outline:none;
    margin-left:12px;
}

.label-detail{
    display:flex;
    justify-content:start;
}

.eye{
    margin-right:12px;
    cursor:pointer;
}

/*register button*/
.register-button-container{
    width:554px;
    height:86px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

.submit-button{
    width:554px;
    height:41px;
    border-radius:10px;
    background-color:red;
    display:flex;
    align-items:center;
    justify-content:center;
    border:none;
    font-size:14px;
    font-weight:400;
    color:white;
    cursor:pointer;
}

.check-login{
    width:176px;
    height:21px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.random-text{
    font-size:14px;
    color:#3E424A;
}

.login-button{
    border:none;
    color:red;
    font-weight:700;
    cursor:pointer;
}